<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>

  <div class="container">

    <div class="header">
      <div>
        <h2>Analizador de encabezados 😎</h2>
      </div>
      <div>
        <small>Solicitar microservicio de analizador de encabezados</small>
      </div>

    </div>
    <div class="main">
      <p><strong>My example: ✔</strong> </p>
      <a href="/api/whoami"> /api/whoami</a>
      <hr>
      <div class="example">
        <p><strong>Example result: ✔</strong> </p>
        <p>
          {"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",

        </p>
        <p>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) </p>
        <p>Gecko/20100101 Firefox/50.0"}</p>
      </div>
    </div>
    <div class="footer">
      <p>by: <a href="https://github.com/bmsebastian2">bmsebastian2@gmail.com :</a> </p><img class="waitAnimate"
        src="github.png" alt="" srcset="">
    </div>


  </div>
</body>
</html>